@import url("https://fonts.googleapis.com/css?family=Lato");

* {
  margin: 0;
  padding: 0;
}

body {
  --pink-color: hsl(310, 57%, 71%);
  --lightblue-color: hsl(180, 54%, 69%);
  background: linear-gradient(90deg, var(--lightblue-color), var(--pink-color));
  font-size: 1rem;
  font-family: Lato, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

main {
  position: relative;
  top: 18vh;
  left: 20vw;
}

#photo {
  background: url("https://static.bhphotovideo.com/explora/sites/default/files/styles/top_shot/public/ts-space-sun-and-solar-viewing-facts-versus-fiction.jpg?itok=gaBs6QMS");
  // background-position: center;
  // width: calc(100vw - 55rem);
  // height: calc(100vh - 30rem);
  width: 35vw;
  height: 40vh;
  max-width: 40vw;
  max-height: 40vh;
  z-index: 3;
  border-radius: 10px;
  box-shadow: 10px 30px 50px -20px rgb(70, 70, 70);

  position: absolute;
  top: 0;
  left: 0;
}

#bio {
  position: absolute;
  top: 6vh;
  left: 8vw;
  border-radius: 10px;  //in px, not %
  max-width: 60vw;
  z-index: 2;
  background: white;
  box-shadow: 10px 30px 50px -20px grey;
  
  #bio-content {
    padding: 14vh 10vw 5vh 30vw;
    line-height: 2rem;
  }

  #links {
    padding-left: 30vw;
    z-index: 4;
    a {
      padding: 1rem;
    }
    i {
      font-size: 2rem;
      color: var(--pink-color);
    }
  }

  #footer {
    padding: 2vh 0 4vh 10vw;
    .numbers-info {
      padding-right: 5rem;
    }
    .number {
      font-size: 2rem;
    }
    .info {
      color: var(--lightblue-color);
    }
  }
}

#identity {
  position: absolute;
  top: 4rem;
  left: 12rem;
  z-index: 4;
  font-size: 3em;
  color: var(--pink-color);
  #surname {
    padding-left: 3rem;
  }

  #numbers{
    div {
      display: inline;
    }
  }
}
